<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Server | Home</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:400,600,700" rel="stylesheet" />
  </head>
  <body class="home">
    <!-- navbar -->
    <div class="navbar">
      <div class="inner shadow-dark">
        <!-- Button of mobile menu-->
        <div class="nav-toggle">
          <div class="nav-toggle-bar"></div>
        </div>

        <!-- logo -->
        <a class="link-logo" href="/">
          Logo
        </a>
        <!-- /logo -->
        <div class="content">
          <ul class="menu-list blue">
            <li class="item">
              <a class="anchor" href="#">Link 1</a>
            </li>
            <li class="item">
              <a class="anchor" href="#">Link 2</a>
            </li>
            <li class="item">
              <a class="anchor" href="#">Link 3</a>
            </li>
            <li class="item">
              <a class="anchor" href="#">Link 4</a>
            </li>
          </ul>
        </div>
        <!-- Menu Mobile -->
        <nav class="nav">
          <ul class="nav-list">
            <li><a href="/product/house">Sorteos de Casa</a></li>
            <li><a href="/product/car">Sorteos de Coche</a></li>
            <li><a href="/contact">Contacto</a></li>
            <li><a href="/login">Iniciar Sesión</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="main-home">
      <div class="inner">
        <h3>Servidor Webpack</h3>
      </div>
    </div>
    <!-- footer -->
    <footer class="footer">
      <div class="inner">
        <p class="date"><span class="span">@2019</span></p>
        <p class="name">Ing. Torres</p>
      </div>
    </footer>

    <!-- polyfill to use conic-gradient -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
