// Variables para colores principales
$color-primary: #00486a;
$color-secondary: #fff;
$color-three: #000;

// Variables para colores alternativos u otros
$info-rectangle: #e5edf0;
$color-line: #8aabc6;
$color-line-two: #9faeb4;
$color-footer: #eeeeee;

// Variables para textos
$color-text-blue: #00486a;
$color-text-black: #3c4747;
$color-text-white: #fff;
$color-text-dark: #304554;
$color-text-footer: #98a5ae;
$color-text-question: #0a6ea3;

// Tonalidades de Gris
$color-gray-dark-form: #e0e4e6;
$color-gray-light-form: #f0f2f4;

// Redes Sociales

$color-twitter: #00aced;
$color-instagram: #c1558b;
$color-facebook: #3b5998;
